DATABASE_URL=<admin_user_db_url>
DATABASE_URL_READONLY=<read_only_user_db_url>
AZURE_AI_ENDPOINT=<azure_openai_endpoint_url>
AZURE_MODEL_DEPLOYMENT=<azure_model_deployment_name>
AZURE_AI_API_KEY=<azure_api_key>
